@import "https://fonts.google.com/specimen/Barlow+Semi+Condensed";
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
:root{
    --Moderateviolet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}
body{
    
    font-size: 13px;
    background-color: var(--Light-grayish-blue);
    display: flex;
    justify-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    width: 100%;
    line-height: 1.5;
}
.container{
    margin: 5rem 1rem;
    height: 812px;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    
}
/*Responsive container*/

@media(max-width:1000px){
    .container{
        margin: 100px 10px;
        display: flex;
        flex-direction: column;
    }
}
/*Default card styling*/
.card{
    padding: 2.3em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card>.quote{
    opacity: 70%;
}
.userInfo{
    display: flex; 
    color:var(--Light-grayish-blue)
    
}
.educationStatus{
    opacity: 50%;
}
.header{
    font-size: 1.4rem;
    font-weight: bold;
}
.userInfo>img{
    margin-right: 1.1em;
    border-radius:50% ;
}
/* Styling card directly*/

/*Purple card*/
.card--bg-purple{
    z-index: 1;
    grid-column: 1/3;
    background-color:  var(--Moderateviolet);
    color:var(--White);
    display: flex;
    flex-direction: column;
    position: relative;
}
.card--bg-purple>.userInfo>img{
    border: 2px hsl(263, 72%, 65%) solid ;
}
.svgImg{
    z-index: -1;
    position:absolute;
    right: 10%;
    top: 0;
    
}
/*Small card(light-grey)*/
.card--sm--grey{
    color:var(--White);
    grid-column: 3/4;
    background-color: var(--Very-dark-grayish-blue);
}
.card--sm--grey>.userInfo>img{
    border: 2px var(--Light-gray) solid;
}

/*Kira Card(white)*/
.card--bg--white{
    background-color: var(--White);
    grid-column: 4/5;
    grid-row: 1/3;
    color:var(--Very-dark-grayish-blue)
    
}
.card--bg--white>.userInfo>img{
    border: 2px var(--Light-gray) solid;
}

/*Jeanette card(white)*/
.card--sm-white{
    background-color: var(--White);
    color:var(--Very-dark-grayish-blue);
    grid-column:0/1;
}
.card--bg--white>.userInfo>img{
    border: 2px var(--Light-gray) solid;
}

.card--bg--white>.userInfo,
.card--sm-white>.userInfo{
    color:var(--Very-dark-grayish-blue)
}

/*Patrick card*/
.card--bg--dark{
    background-color:var(--Very-dark-blackish-blue);
    color:var(--White);
    grid-column:2/4 ;
}
.card--bg--dark>.userInfo>img{
    border: 2px var(--Moderateviolet) solid;
}